NODE_ENV=development
SEFAZ_CNPJ=00000000000000
SEFAZ_UF=AN
SEFAZ_AMBIENTE=2
SEFAZ_ENDPOINT=https://www1.nfe.fazenda.gov.br/NFeDistribuicaoDFe/NFeDistribuicaoDFe.asmx
SEFAZ_CERT_PFX_PATH=/secure/certificado.pfx
SEFAZ_CERT_PFX_PASSPHRASE=trocar
SEFAZ_TIMEOUT_MS=30000
SEFAZ_RETRY_MAX=3
SEFAZ_SCHEDULE_MINUTES=10
SEFAZ_STORAGE_DIR=./data
SEFAZ_MOCK=true
